*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body{

}
.p-50{
  padding: 0px 50px;
}
.p-0{
  padding: 0;
}
nav{
  background-color: #FFF;
  height: 60px;
}
.nav-bar{
  margin: 30px auto;
  display: flex;
  align-items: center;
}
.logo-rev{
  width: 20px;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.btn-sign{
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.btn-get{
  background-color: #000;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: -20px;
  width: 100%;
  font-weight: bold;
}
.btn-get:hover{
  color: #FFF;
}
.color-grey{
  color: grey;
}
.p-rel{
  position: relative;
}
.features{
  width: 800px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  background-color: #FFF;
  position: absolute;
  top:30px;
  margin-left: -200px;
  display: none;
}
.plans{
  width: 100px ;
  height: 300px ;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  background-color: #FFF;
  position: absolute;
  top:30px;
  display: none;
}
.about{
  width: 100px ;
  height: 500px ;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  background-color: #FFF;
  position: absolute;
  top:30px;
  display: none;
}
.help{
  width: 100px ;
  height: 300px ;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  background-color: #FFF;
  position: absolute;
  top:30px;
  display: none;
}
.flex{
  display: flex;
  align-items: center;
}
h6{
  text-transform: uppercase;
  font-weight: bolder;
  color: lightgrey;
  font-size: 12px;
}
.fa-user-circle, .fa-star-of-life, .fa-wallet , .fa-star{
  padding: 15px;
  font-size: 18px;
}
ul, li{
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}
